<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reryka.androidplugin">

    <!-- BLEの機能を使用する宣言 -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <!-- BLEの機能を使用するためのパーミッションの宣言 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

</manifest>